/* ******************************************************** */

/* NAVIGATION */
.navbar-benefits {
	background-color: white;
	font-family: 'Khula', sans-serif;
}

.navbar-benefits a:hover {
	color: #ffffff !important;
	background-color: #75E4B3 !important;
	font-family: 'Khula', sans-serif;
}

h1{
	font-family: 'Overpass', sans-serif;
	font-size: 2em;
	padding: 7% 0 6% 0;
	text-align: center;
}

.navbar-brand{
	font-family: Brush Script MT !important;
	font-size:2.3em;
	color: #75E4B3 !important;
}

.navbar-default .nav li.active a{
	color:#1d1d1d !important;
}

@media(max-width:768px){
	.navbar-brand{
		font-size:1.8em;
	}
}

/* ******************************************************** */

/* BODY */

h1{
	font-family: 'Overpass', sans-serif;
	font-size: 2em;
	padding: 7% 0 6% 0;
	text-align: center;
}

.aboutCompany{
	font-family: 'Khula', sans-serif;
	font-size: 1.5em;
	padding: 0 0 10% 0;
}


/* ******************************************************** */

/* FOOTER */

.footer h4{
	font-size: 1.5em;
	font-family: 'Overpass', sans-serif;
	text-decoration: underline;
}

.footer{
	padding: 10px 0 20px;
	background-color: #55DBCB;
	color: white;
}

.footerLinks{
	color:white;
	font-family: 'Khula', sans-serif;
	font-size: 1.2em;
}

a.footerLinks:hover{
	color:black;
	text-decoration: none;
	cursor: pointer;
}

.footer .fa{
	color: white;
	cursor: pointer;
}

.footer li{
	list-style-type: none;
	padding: 0 3% 0 0;
	float: left;
}

.footer .fa:hover{
	color:#BFFFF1;
}

.icons:hover{
	color:black;
}
