.navbar-benefits {
	background-color: white;
	font-family: 'Khula', sans-serif;
}

.navbar-benefits a:hover {
	color: #ffffff !important;
	background-color: #75E4B3 !important;
	font-family: 'Khula', sans-serif;
}


h1{
	font-family: 'Overpass', sans-serif;
	font-size: 2em;
	padding: 7% 0 6% 0;
	text-align: center;
}

.navbar-brand{
	font-family: Brush Script MT !important;
	font-size:2.3em;
	color: #75E4B3 !important;
}

.navbar-default .nav li.active a{
	color:#1d1d1d !important;
}

@media(max-width:768px){
	.navbar-brand{
		font-size:1.8em;
	}
}

h4, h2{
	font-family: 'Overpass', sans-serif;
}

.benefitsDesc{
	font-family: 'Khula', sans-serif;
	font-size: 1.2em;
}

a{
	color: #75E4B3;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #75E4B3;
	font-family: 'Khula', sans-serif;
	cursor: default;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	color: black;
	font-family: 'Khula', sans-serif;
	cursor: default;

}
