.navbar-wheat {
	background-color: white;
	font-family: 'Khula', sans-serif;
}

.navbar-wheat a:hover {
	color: #ffffff !important;
	background-color: #75E4B3 !important;
	font-family: 'Khula', sans-serif;
}

.navbar-brand{
	font-family: Brush Script MT !important;
	font-size:2.3em;
	color: #75E4B3 !important;
}

.readmorebtn, .readmorebtn:hover{
	color: white;
	background-color: #4FE86E;
}

.navbar-default .nav li.active a{
	color:#1d1d1d !important;
}

@media(max-width:768px){
	.navbar-brand{
		font-size:1.8em;
	}
}

.option{
	font-size: 1em;
	font-family: 'Overpass', sans-serif;
	padding: 0 0 6% 0;
}

h1{
	font-family: 'Overpass', sans-serif;
	font-size: 2em;
	padding: 7% 0 0 0;
}

.modalHeading{
	font-size: 2em;
	font-family: 'Overpass', sans-serif;
}

h4{
	font-family: 'Khula', sans-serif;
}

.modalDesc{
	font-family: 'Khula', sans-serif;
	font-size: 1.5em;
}

.icedTeasPage{
	padding: 90px 0 0 0;
}

.icedTeasPage ul{
	text-align: left;
}

.icedTeaBtn{
	color:black;
	border-color: black;
}

.icedTeaBtn:hover{
	color:white;
	background-color: #75E4B3;
}
